@model backenddb_c.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoPagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoPagado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoPendiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoPendiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaOtorgado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaOtorgado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPrestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPrestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MesesPendiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MesesPendiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoClienteNavigation.CodigoCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodigoPrestamo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
