@model backenddb_c.Models.CajaAhorro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CajaAhorro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoCaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoCaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoClienteNavigation.CodigoCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodigoCaja">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
