@model IEnumerable<backenddb_c.Models.Operacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreOperacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCajeroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreOperacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCajeroNavigation.CodigoCajero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoOperacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoOperacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoOperacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
